<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated robotScriptModel -->
      <package
            uri="http://www.example.org/robotScriptModel"
            class="robotScriptModel.RobotScriptModelPackage"
            genModel="model/robotScriptModel.genmodel"/>
   </extension>

</plugin>
